
<div class="card-container">

    <div class="card-header">
        <h2 class="title">{{impName}}</h2>
        <h2 class="card-title">ID : {{impID}}</h2>
    </div>

    <div class="card-body">

        <div class="col-sm-6">
            <h3 class="subtitle">Stats - Status</h3>
            <h5 class="subtitle" *ngFor="let i of items; let j = even">
                <span *ngIf="j" class="my">{{impStats[i].name}} : {{impStats[i].base}}</span>
                <span *ngIf="!j">{{impStats[i].name}} : {{impStats[i].base}}</span>
            </h5>
        </div>
    </div>

</div>
