
<div class="container-xl">
  <div>
    <app-header (evName)="impName($event)" (evID)="impID($event)" ></app-header>
  </div>
    <div class="row">
      <app-center [impImg]="arrImg"></app-center>
    </div>
    <div class="row">
      <div class="col-6"><app-left [impName]="varName" [impID]="varID" [impStats]="varPokemon2.getStats()"></app-left></div>
      <div class="col-4"><app-right [impMoves]="arrMoves"></app-right></div>
    </div>
  <div class="row">
    <app-navbar></app-navbar>
  </div>
</div>


